<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Demo</title>

</head>

<body>
    <h1>Hello World of Spring Boot and Thymeleaf!</h1>
    <br><br>

    <!-- Mostra o nome do estudante vindo do parâmetro -->
    <p>Student name: <span th:text="${param.studentName}">Student Name</span></p>

    <br><br>

    <!-- Mostra a mensagem configurada no controller -->
    <p>The message is: <span th:text="${message}">Default Message</span></p>
</body>

</html>