<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Form</title>

    <style>
        .errors {
            color: red;
        }
    </style>
</head>

<body>
    <h3>Student Registration Form</h3>

    <form action="#" th:action="@{/processStudentForm}" th:object="${student}" method="POST">

        Os campos marcados com (*) são obrigatórios.
        <br><br>
        First name: <input type="text" th:field="*{primeiroNome}" />
        <br><br>
        Last name (*): <input type="text" th:field="*{ultimoNome}" />
        <span th:if="${#fields.hasErrors('ultimoNome')}" th:errors="*{ultimoNome}" class="errors" />
        <br><br>
        Passes Grátis:
        <input type="number" th:field="*{passesGratis}" />
        <span th:if="${#fields.hasErrors('passesGratis')}" th:errors="*{passesGratis}" class="errors" />
        <br><br>
        Codigo Postal:
        <input type="text" th:field="*{codigoPostal}" />
        <span th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}" class="errors" />
        <br><br>
        Pais:
        <select th:field="*{pais}">
            <!--pegando valores agora de forma dinâmica (usando loop for)-->
            <option th:each="tempPais : ${paises}" th:value="${tempPais}" th:text="${tempPais}"> </option>
        </select>
        <br><br>
        Linguagem Favorita:
        <input type="radio" th:field="*{linguagemFavorita}" th:each="tempLing : ${linguagens}" th:value="${tempLing}"
            th:text="${tempLing}" />
        <br><br>
        Sistemas Operacionais:
        <input type="checkbox" th:field="*{sistemas}" th:each="tempSist : ${sistemas}" th:value="${tempSist}"
            th:text="${tempSist}" />
        <br><br>
        <input type="submit" value="Submit" />
    </form>

</body>

</html>