<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Confirmation</title>
</head>

<body>
    <h1>Confirmaçao de registro do estudante</h1>
    <!--acessa objeto aluno-->
    Estudante confirmado:<span th:text="${student.primeiroNome} + ' ' + ${student.ultimoNome}" />
    <br><br>
    Pais: <span th:text="${student.pais}" />
    <br><br>
    Linguagem Favorita: <span th:text="${student.linguagemFavorita}" />
    <br><br>
    Sistemas Operacionais:
    <ul>
        <li th:each="sist : ${student.sistemas}" th:text="${sist}">Sistemas Operacionais</li>
    </ul>
    <br><br>
    Passes Grátis: <span th:text="${student.passesGratis}" />
    <br><br>
    Codigo Postal: <span th:text="${student.codigoPostal}" />
</body>


</html>